<link rel="stylesheet" href="/css/footer.css" />
<footer
  style="
    background-color: #fff;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    margin-top: 0%;
  "
>
  <div
    class="footer"
    style="max-width: 1200px; margin: 0 auto; text-align: center"
  >
    <p class="copyright-text" style="margin: 0; color: #333">
      Copyright © 2020 All Rights Reserved by
      <a
        href="https://www.codebook.com"
        style="color: #4682b4; text-decoration: none"
        >codebook</a
      >
    </p>

    <ul style="list-style: none; padding: 0; margin: 10px 0">
      <li style="display: inline; margin: 0 15px">
        <a href="#" style="color: #7a7a7a; text-decoration: none">حولنا</a>
      </li>
      <li style="display: inline; margin: 0 15px">
        <a href="#" style="color: #7a7a7a; text-decoration: none"
          >سياسة الخصوصية</a
        >
      </li>
      <li style="display: inline; margin: 0 15px">
        <a href="#" style="color: #7a7a7a; text-decoration: none">اتصل بنا</a>
      </li>
    </ul>
  </div>

  <ul class="social-icons">
    <li>
      <a class="facebook" href="/www.facebook.com"
        ><i class="fab fa-facebook-f"></i
      ></a>
    </li>
    <li>
      <a class="twitter" href="http://localhost:3000/signup"
        ><i class="fab fa-twitter"></i
      ></a>
    </li>
    <li>
      <a class="instagram" href="http://localhost:3000/signup"
        ><i class="fab fa-instagram"></i
      ></a>
    </li>
    <li>
      <a class="tiktok" href="http://localhost:3000/signup"
        ><i class="fab fa-tiktok"></i
      ></a>
    </li>
  </ul>
</footer>
