<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ملف التعريف الشخصي</title>
    <link rel="stylesheet" href="/fontawesome-free-6.6.0-web/css/all.min.css" />

    <style>
      .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #bdb9b9;
        background-color: #fff;
        padding: 4px;
        font-size: 24px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        height: 40px;
        align-items: center;
        color: #4682b4;
      }

      .navbar img {
        width: 100px;
        height: 100px;
      }
      .logo img {
        box-shadow: none;
      }
    </style>
  </head>

  <div class="navbar">
    <div class="icon"></div>
    <div class="logo">
      <img
        src="/images/1725480234324logo.png"
        alt="avtar"
        width="60px"
        height="60px"
      />
    </div>
  </div>
</html>
